@import 'mixins';
@import 'variables';
@import 'animations';
/*html {
  font-size: 100%;
  @include respond(tl) {
    font-size: 85%;
  }
  @include respond(tp) {
    font-size: 75%;
  }
  @include respond(p) {
    font-size: 65%;
  }
}*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.hide {
  display: none !important;
}